body {
    background: {
        image: url("images/background.png");
        position: center center;
        repeat: no-repeat;
        attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
